section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
section::before,
section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
section::before {
  width: 10rem;
  height: 10rem;
  left: 25%;
  top: 5%;
  background: linear-gradient(45deg, #ffc107, #e91e63);
}
section::after {
  width: 16rem;
  height: 16rem;
  bottom: 15%;
  right: 15%;
  background: linear-gradient(45deg, #2196f3, #31ff38);
}

.panel-backdrop {
  position: relative;
  min-width: 20rem;
  min-height: 25rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 1;
  padding: 1.3rem;
}

.card-backdrop {
  position: relative;
  display: flex;
  gap: 0.5rem;
  height: min-content;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: .3s;

  h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  h3{
    font-size: 1.2rem;
  }
}
.card-backdrop:hover {
  background: $bg-secondary;
  color: $bg-basic;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.15) translate(3rem, 1rem);
  opacity: .9;
  z-index: 2;
}
.avatar {
  border-radius: 10px;
  max-width: 10rem;
  height: 100%;
}
.card-content{
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}
